.text
{
    
      border: 2px solid rgb(15, 15, 15);    
    background: rgb(100, 237, 196);
   display: flex;
    flex-direction: column ;
         width: 800px;
     margin-left: 25px;
margin-right: auto;
   margin-top: 5px;
    font-family: "Times New Roman", Georgia, Serif;
   font-weight: 200;
   font-stretch: expanded;
font-style: normal;
font-size: 20px;   
}


summary{
     cursor: pointer;
     padding: 3px;
     margin-top: 10px;
      margin-left: 25px;
     background: rgb(61, 145, 194);
   font-size: 20px;
    font-weight: 600;   
    border: 2px solid rgb(62, 8, 209); 
      width: 800px;
}
.film {
    border: 2px solid rgb(62, 8, 209);    
    background: rgb(211, 208, 14);
   
     width: 800px;
     margin-left: 25px;
margin-right: auto;
   margin-top: 5px;
    font-family: "Times New Roman", Georgia, Serif;
   font-weight: 200;
   font-stretch: expanded;
font-style: normal;
font-size: 20px;   
}
.fairtext {
  align-items: flex-start; 
   margin-left: 15px;
}
.block_code
{
        border: 2px solid rgb(15, 15, 15);
    
    background: rgb(137, 188, 218);
    display: flex;
    /*align-items: flex-start;
    */
justify-content: space-between;
width: 800px;
margin-left: 25px;
margin-right: auto;
   margin-top: 5px;
   font-family: "Times New Roman", Georgia, Serif;
   font-weight: 200;
   font-stretch: expanded;
font-style: normal;
font-size: 20px;
}
code 
{ 
 font-weight: 600;   
 color: #320796;
}

.picture 
{
   /*border: 2px solid rgb(62, 8, 209); */ 
     width: 680px;
     height: 400px;
     margin-left: 5px;
     margin-right: 5px;
     margin-top: 5px;
}
figure
{
   padding: 10px;
   font-weight: 600;   
   width: 750px;
   margin-left: 5px;
 border: 2px solid rgb(11, 8, 209);
}

/* скрываем чекбоксы и блоки с содержанием */
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block; 
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}

/* demo контейнер */
.demo {
    margin: 5% 10%;
}
   